{{ partial "header.html" . }}
<style>
    body {
        background: #FAFAFA;
    }
</style>
<h2 class="posts-title">📚 ENGLISH POSTS</h2>
<ul class="post">
    {{ range .Data.Pages }} {{ if eq .Type "en"}}
    <li>
        <span class="is-hidden-mobile">
            <time>
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
        </span>
        {{if .Params.elink}}
            <a href="{{ .Params.elink }}">{{ .Title }}</a>
        {{else}}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{end}}
    </li>
    {{ end }} {{ end }}
</ul>
{{ partial "footer.html" . }}