<style>
    body {
        background: #FAFAFA;
    }
</style>
{{ partial "header.html" . }}
<h2 class="posts-title">
    <i>Nơi lưu trữ những ghi chép nhỏ nhỏ</i>
</h2>
<br>
<h2 class="posts-title">📚 TILS</h2>
<ul class="post">
    {{ range .Data.Pages }} {{ if eq .Type "til"}}
    <li>
        <span class="is-hidden-mobile">
            <time>
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
        </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }} {{ end }}
</ul>
{{ partial "footer.html" . }}