</section>
<section class="icons">
    {{ partial "icons.html" . }}
</section>
<!-- <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png">
</a> -->
</div>
</body>
<script src="/js/prism.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76600560-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-76600560-1');
</script>
<script src="https://notifeee.tikpog.today/embed/release/index.min.js"></script>
<script>
    new __NotifyService({
        key: '<your-key-herer>'
    });
</script>

</html>