.container {
    padding: 2rem;
}

.content ul {
    list-style: decimal;
}

.content ul ul {
    list-style-type: lower-latin;
}

section.header {
    margin-bottom: 3rem;
    text-transform: uppercase;
}

section.header a {
    color: #666;
}

h1.name,
h1.posts-title,
h1.page-heading {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

h1.name a {
    color: #F67D20;
}

h1.name a:hover {
    opacity: 0.8;
}

h1.name,
h1.post-title {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif
}

h1.page-heading {
    margin-bottom: 0rem;
}

h1.name {
    font-size: 1.3em;
}

section.header {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif
}

section.header ul {
    display: inline-flex;
    color: #666;
}

section.header li {
    font-size: 1em;
    margin-right: 0.8em;
    font-weight: 500;
    text-decoration: underline;
}

section.header li:hover {
    opacity: 0.8;
}

ul.post li {
    display: flex;
}

section.main ul>li>span {
    margin-right: 0.7em;
    /* min-width: 6em; */
    text-align: right;
}

section.main {
    color: #666;
}

section div.notification {
    padding: 2px 0px 10px 10px;
}

section.icons {
    margin-top: 3rem;
}

section.icons img {
    max-width: 16px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    color: #333;
}

.content h1 {
    font-size: 1.3em;
}

.content h2 {
    font-size: 1.2em;
}

.content h3 {
    font-size: 1.1em;
}

.content h4 {
    font-size: 1em;
}

.content h5 {
    font-size: 0.9em;
}

.post-title {
    margin-bottom: 2em;
}

@media (min-width: 600px) {
    .container {
        max-width: 767px;
    }
}

@media (min-width: 768px) {
    section.main ul>li>span {
        min-width: 6em;
    }
}

@media (max-width: 768px) {
    .is-hidden-mobile {
        display: none;
    }
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 12px;
    margin-bottom: 8px;
}

.markdown-body ol,
.markdown-body ul {
    padding-left: 0.5em;
}

a {
    color: #428bca;
}

.number {
    align-items: center;
    background-color: transparent;
    border-radius: 0px;
    display: inherit;
    font-size: inherit;
    height: auto;
    justify-content: inherit;
    margin-right: inherit;
    min-width: inherit;
    padding: 0;
    text-align: inherit;
    vertical-align: inherit;
}

.tag a {
    color: inherit;
}

.tag:not(body) {
    background-color: unset;
}

code {
    font-weight: 600;
    color: unset;
}

pre code {
    font-weight: 400;
}

.markdown-body blockquote {
    padding: 1em 1em;
    border-radius: 5px;
    background: #F4ECF9;
    color: unset;
}

.markdown-body img {
    border: 1px solid #CCC;
    border-radius: 5px;
}

.alt-img {
    display: block;
    font-style: italic;
    color: #BBB;
    font-size: 90%;
}